<section class="contact marginT-80">
  <div class="container">
    <h2 class="text-center text-w700">CONATCT SECTION</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3" style="background-color: #212529;"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3" style="background-color: #212529;"></div>
    </div>
    <div class="w-50 mx-auto mt-5">
      <label class="position-relative labelTop userName" for="userName">userName :</label>
      <input (keyup)="test()" placeholder="userName" class="inp1 form-control mb-3 position-relative" type="text">
      <label class="position-relative labelTop userAge" for="userAge">userAge :</label>
      <input (keyup)="test()" placeholder="userAge" class="inp2 form-control mb-3 position-relative" type="text">
      <label class="position-relative labelTop userEmail" for="userEmail">userEmail :</label>
      <input (keyup)="test()" placeholder="userEmail" class="inp3 form-control mb-3 position-relative" type="email">
      <label class="position-relative labelTop userPassword" for="userPassword">userPassword :</label>
      <input (keyup)="test()" placeholder="userPassword" class="inp4 form-control mb-3 position-relative"
        type="password">
      <button class="btn btn-green">send Message</button>
    </div>
  </div>
</section>