<section class="potfolio marginT-80">
  <div class="container">
    <h2 class="text-center text-w700">PORTFOLIO COMPONENT</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3" style="background-color: #212529;"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3" style="background-color: #212529;"></div>
    </div>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/poert1.png" alt="product">
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/port2.png" alt="product">
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/port3.png" alt="product">
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/poert1.png" alt="product">
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/port2.png" alt="product">
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="position-relative overflow-hidden rounded-2">
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <img class="w-100 " src="assets/images/port3.png" alt="product">
        </div>
      </div>
    </div>
  </div>
</section>