/* You can add global styles to this file, and also import other style files */
.text-w700 {
  font-weight: 700;
}

.line {
  height: 4px;
  width: 80px;
}

.main-section {
  height: 80vh;
  background-color: #1ABC9C;
  display: flex;
  align-items: center;
}

.marginT-80 {
  margin-top: 80px;
}