<section class="home main-section marginT-80">
  <div class="container">
    <div class="d-block text-center text-white">
      <img class="w-25 mb-3" src="assets/images/avataaars.svg" alt="">
      <h2 class="mb-3 text-w700 text-uppercase">Start Framework</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3" style="background-color: white;"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3" style="background-color: white;"></div>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>